[run]
branch = True
source = fairvibspec
omit =
    fairvibspec/core/fairvibspec.py
    fairvibspec/_version.py
    **/__init__.py

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == "__main__":
    